<div class="contact-section">
  <div class="left_contact">
    <div class="contact_box">
      <div class="contact_image">
        <img src="assets\phone-call.png" alt="" />
      </div>
      <div class="contact_data">
        <span>Phone Number</span>
        <span>040404040404</span>
      </div>
    </div>
    <div class="contact_box">
        <div class="contact_image">
          <img src="assets\email.png" alt="" />
        </div>
        <div class="contact_data">
          <span>Email</span>
          <span>info@bytegarden.com</span>
        </div>
      </div>
      <div class="contact_box">
        <div class="contact_image">
          <img src="assets\location.png" alt="" />
        </div>
        <div class="contact_data">
          <span>Location</span>
          <span>Basai, Gurugram/Greater Kailash, New Delhi</span>
        </div>
      </div>
      <div class="contact_box">
        <div class="contact_image">
          <img src="assets\add.png" alt="" />
        </div>
        <div class="contact_data">
          <span>Fax-Address</span>
          <span>Delhi</span>
        </div>
      </div>
  </div>
  <div class="right_contact">
    <form id="form-sec">
      <div class="title">
        <h2>Send Message</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
          maiores.
        </p>
      </div>
      <!-- Your Name -->

      <div class="input-group">
        <label for=""></label>
        <input type="text" placeholder="Your Name" id="name" name="name" />
      </div>

      <!-- Email Address -->

      <div class="input-group">
        <label for=""></label>
        <input type="text" placeholder="Enter Email" id="email" name="email" />
      </div>

      <!-- Phone Number -->

      <div class="input-group">
        <label for=""></label>
        <input type="text" placeholder="9020201020" id="Phone" name="phone" />
      </div>

      <!-- Subject -->

      <div class="input-group">
        <label for=""></label>
        <input
          type="text"
          placeholder="Enter Subject"
          id="Subject"
          name="Subject"
        />
      </div>

      <!-- Message -->

      <div class="input-group">
        <label for=""></label>
        <input
          type="message"
          placeholder="Message"
          id="Message"
          name="Message"
        />
      </div>
      <button class="btn">Send Message</button>
    </form>
  </div>
</div>
