<header>
  <div class="header-top">
      <div class="container">
          <div class="row">
              <div class="col-md-5 col-sm-12 right_info">
                  <p><i class="fa fa-map-marker"></i> Basai, Gurugram / Greater Kailash, New Delhi</p>
              </div>
              <div class="col-md-7 col-sm-12 left_info">
                  <ul>
                      <li><i class="fa fa-mobile-alt"></i><a>+91 7042471751</a></li>
                      <li><i class="fa fa-envelope" aria-hidden="true"></i><a>info@bytegarden.com</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="header-main">
      <div class="container">
              <div class="logo">
                  <img src="assets/final logo.png">
              </div>
              <nav id="cssmenu">
              <ul>
                <li class='active'><a>Home</a></li>
                <li><a>About Us</a></li>
                <li><a>Services</a>
                    <ul>
                        <li><a>Services 1</a></li>
                        <li><a>Services 2</a>
                            <ul>
                                <li><a>Services 21</a></li>
                            </ul>
                        </li>

                        <li><a>Services 3</a></li>
                        <li><a>Services 4</a></li>
                    </ul>
                </li>
                <li><a>Portfolio</a></li>
                <li><a>Technologies</a>
                  <ul>
                      <li><a>Services 1</a></li>
                      <li><a>Services 2</a>
                          <ul>
                              <li><a>Services 21</a></li>
                          </ul>
                      </li>

                      <li><a>Services 3</a></li>
                      <li><a>Services 4</a></li>
                  </ul>
              </li>
                <li><a>Blog</a></li>
                <li><a>Company</a>
                  <ul>
                      <li><a>FAQs</a></li>
                      <li><a>Testimonials</a></li>
                      <li><a>Refer a Friend</a></li>
                      <li><a>Who We Serve</a></li>
                  </ul>
              </li>
                <li><a class="contact_us">Contact Us</a></li>
            </ul>
        </nav>
      </div>
  </div>
</header>

<!-- 
    <ul>
                  <li class='active'><a>Home</a></li>
                  <li><a>About Us</a></li>
                  <li><a>Services</a>
                      <ul>
                          <li><a>Services 1</a></li>
                          <li><a>Services 2</a>
                              <ul>
                                  <li><a>Services 21</a></li>
                              </ul>
                          </li>

                          <li><a>Services 3</a></li>
                          <li><a>Services 4</a></li>
                      </ul>
                  </li>
                  <li><a>Portfolio</a></li>
                  <li><a>Technologies</a>
                    <ul>
                        <li><a>Services 1</a></li>
                        <li><a>Services 2</a>
                            <ul>
                                <li><a>Services 21</a></li>
                            </ul>
                        </li>

                        <li><a>Services 3</a></li>
                        <li><a>Services 4</a></li>
                    </ul>
                </li>
                  <li><a>Blog</a></li>
                  <li><a>Company</a>
                    <ul>
                        <li><a>FAQs</a></li>
                        <li><a>Testimonials</a></li>
                        <li><a>Refer a Friend</a></li>
                        <li><a>Who We Serve</a></li>
                    </ul>
                </li>
                  <li><a class="contact_us">Contact Us</a></li>
              </ul>
 -->