.header{
    background-color: rgb(30, 30, 123);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  8%;
    height: 40px;
    font-size: 20px;
}
span{
    display: flex;
    color: white;
}