.services_section{
  background-color: #ebfffe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 33px 9% 25px 9%;
    .services_head{
        font-size: 25px;
        font-weight: 700;
        color: #EE4E34;
    }
    .services_description{
        text-align: center;
    }
    .section_cards{
         margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        // box-shadow: 0 0 5px -9px;
        .card{
            display: flex;
            max-width: 400px;
            max-height: 800px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 12px;
            box-shadow: 0 0 10px 5px;
            img{
                width: 150px;
                height: 150px;
                
            }
            .card_head{
                
            }
            .card_desc{

            }
        }
    }
}



//

.section_cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 347px;
  height: 400px;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 12%;
    margin-bottom: 10px;
  }

  .card_head {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card_desc {
    font-size: 14px;
    color: #555;
  }
}
